.node-form .form-text {
  width: 100%;
}

#capresenter-admin,
#capresenter-publish,
#capresenter-create
#capresenter-create-pdf {
  overflow: auto;
}

#capresenter-admin div.ahah-progress-throbber {
  font-size: 20px;
}

#capresenter-admin div.throbber {
  background: transparent url(images/throbber3_25px.gif) no-repeat 0px 0;
  height: 25px;
  width: 25px;
  margin: 0px 10px 0px 0px;
}


#capresenter-admin div.ahah-progress,
#capresenter-publish div.ahah-progress,
#capresenter-create div.ahah-progress,
#ahah-progress-edit-create-pdf {
  clear: both;
  width: 100%;
  padding: 5px 0 0 0;
}

#capresenter-admin div.message {
  height: 50px;
}
#capresenter-publish div.message,
#capresenter-create div.message,
#capresenter-admin div.percentage,
#capresenter-publish div.percentage,
#capresenter-create div.percentage {
  padding: 5px 0 0 0;
}

.ckeditor_links {
  display: none !important;
}

.textarea-identifier.description {
  display: none !important;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.popup-bg {
  position: absolute;
  background-color: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.popup .popup-content {
  background-color: #fff;
  position: relative;
  *position: absolute; /* IE7 */
  top: 50%;
  left: 50%;
  z-index: 998;
}

.popup .popup-close {
  position: absolute;
  background: url(images/close-icon.png) no-repeat 0 0;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  cursor: pointer;
  z-index: 999;
}

.scale08 {
  -moz-transform: scale(0.80, 0.80);
  -moz-transform-origin: 0 0;
  -webkit-transform: scale(0.80, 0.80);
  -webkit-transform-origin: 0 0;
  -ms-transform: scale(0.80, 0.80);
  -ms-transform-origin: 0 0;
  -o-transform: scale(0.80, 0.80);
  -o-transform-origin: 0 0;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.80, M12=0, M21=0, M22=0.80, SizingMethod='auto expand');
}

@media only screen and (device-width: 768px) {
  .popup .popup-content {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}



.ca-presenter-slide-list {
  list-style: none;
  padding: 10px !important;
  overflow: auto;
}

.ca-presenter-slide-list li {
  position: relative;
  float: left;
  width: 102px;
  height: 180px;
  margin: 0 10px !important;
}

.ca-presenter-slide-list .form-item {
  width: 100px;
  margin: 0 !important;
}

.ca-presenter-slide-list .form-item .form-checkbox {
}

.ca-presenter-slide-list .form-item label.option {
  display: block !important;
  margin: 0 !important;
  font-size: 12px !important;
  line-height: 18px !important;
  text-align: center;
}

.ca-presenter-slide-list .form-item label.option input{
  display: block;
  position: relative;
  margin: 2px auto 5px;
}

img.disabled {
  opacity: 0.35;
  -moz-opacity: 0.35;
  -khtml-opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}

#devicekey-js-wrapper .devicekey_activator {
  font-size: 2em;
  display: block;
  float: left;
  padding-top: 4px;
  width: 40px;
  margin-left: 15px;
  margin-top: 5px;
}
#devicekey-js-wrapper fieldset {
  border: none;
  padding: 0;
}

#devicekey-js-wrapper .form-item {
  float:left;
  margin:0 5px 10px 0;
}

#devicekey-js-wrapper .form-wrapper {
  clear:left;
}

#devicekey-js-wrapper .device_key {
  width: 110px;
}

#devicekey-js-wrapper .dev_note {
  width: 250px;
}

#devicekey-js-wrapper .ajax-progress-throbber {
  display: block;
  clear: both;
}
.profile_devicekey_custom_labels span {
  float: left;
  font-size: 1.3em;
  text-align: center;
  margin-right: 23%;
  margin-bottom: 1%;
}

#not_compatible_browser {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(255,171,21, 0.4);
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

#not_compatible_browser .more-info-link {
  color: #2c5faa;
  text-decoration: underline;
  cursor: pointer;
}

/**
 * Hide local menu task elements
 */
.tabs .edit-presentation {
  display: none;
}

fieldset#slide_operations {
  border: 0;
}

fieldset#slide_operations .form-submit,
fieldset#slide_operations button {
  margin: 14px 10px 10px 0 !important;
  padding: 0px 10px;
  line-height: 1.5em;
}

iframe {
  width: 100%;
  border: 0;
}

iframe.hide-until-load {
  display: none;
}

.icon.NOT_PUBLISHED.NONE .fa-check:before,
.icon.NOT_PUBLISHED.UPDATED .fa-check:before,
.icon.ARCHIVED .fa-check:before {
  content: "\f00d";
}

#-add-slide-from-library #edit-search-slide {
  width: 25%;
  float: right;
  margin-top: 20px;
}

#-add-slide-from-library #edit-select-presentation {
  width: 72.5%;
}

.page-presentations-add-slide-library .form-item-presentation-selector {
  display: none;
}


@media only screen and (max-width: 940px) {

  #-add-slide-from-library #edit-select-presentation,
  #-add-slide-from-library #edit-search-slide {
    width: 100%;
    margin-bottom: 1em;
  }

}

span.no-slide-text {
  float: left;
  padding-top: 15px;
}

/**
  css label for copy to clipboard functionality
  https://www.sitepoint.com/javascript-copy-to-clipboard/
 */
.clipboard-message {
  position: relative;
  margin-top: -5px;
}

#clipboard-target {
  width: 100%;
  margin-bottom: 20px;
}
.copied-to-cb {
  position: relative;
  float: left;
  background-color: green;
}
#copied {
  display: none;
  display: none;
}

.dialog-description {
  margin-bottom: 20px;
}

#js-copy-to-clipboard {
  float: right;
}

@keyframes showcopied {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ui-dialog-content {
  margin: 20px 0;
}
.ui-dialog .ui-dialog-titlebar {
  top: 0;
}
.ui-dialog .ui-dialog-titlebar button {
  top: 2px;
  right: 0;
}

.select_all_fieldset {
    float: right;
}
#block-views-1c57271cfac4f41ec08e89f90ac8a037 {
    display: none;
}

.dream-permissions--form button {
  color: #d2d2d2 !important;
}

#ataglance-node-form .image-widget-data .file {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}
#ataglance-node-form .image-widget-data .file-size {
  float: left;
  margin-right: 10px;
  margin-top: 22px;
}

div#edit-field-received-value-wrapper select {
  float: left;
  width: 70px;
}
div#edit-field-received-value-wrapper .form-type-date label {
  display: none;
}
div#edit-field-received-value-wrapper .form-item .container-inline {
  padding: 0;
}

#edit-date-filter-wrapper .form-type-date-select label {
  display: none;
}
#views-form-presentations-page-2 tr.draft {
  background-color: #a2a2a2;
}
#views-form-presentations-page-2 .draft td {
  background-color: transparent !important;
}
#views-form-presentations-page-2 .draft td:nth-child(4),
#views-form-presentations-page-2 .draft td:nth-child(5),
#views-form-presentations-page-2 .draft td:nth-child(6),
#views-form-presentations-page-2 .draft td:nth-child(7) {
  color: #e8e8e8;
  text-shadow: 1px 1px #000;
}
#views-form-presentations-page-2 tr.draft td:nth-child(5) {
  position: relative;
  background: url(/sites/all/themes/presentation_admin/images/draft.png) no-repeat 100% -65%;
  background-size: 85%;
  min-width: 200px;
}

#user-profile-form fieldset#edit-locale {
    display: none;
}
#fullscreen-image-gallery-node-form .field-name-field-image {
  float: left;
  width: 25%;
}

#fullscreen-image-gallery-node-form .field-name-field-image .image-widget-data{
  width: 50%;
}

#fullscreen-image-gallery-node-form .field-name-field-image .image-widget-data input[value="Remove"]{
  margin: 0 !important;
  padding: 0 !important;
  float: left;
  width: 97%;
  text-align: left;
  margin-left: 7% !important;
}
#fullscreen-image-gallery-node-form .field-name-field-image .image-widget-data .file-size {
  float: left;
  margin-left: 7%;
  width: 93%;
}

#fullscreen-image-gallery-node-form .field-name-field-image .image-widget-data .file {
  float: left;
  width: 100%;
}

#fullscreen-image-gallery-node-form .field-name-field-caption {
  float: left;
  width: 62%;
  margin-left: 3%;
}
#fullscreen-image-gallery-node-form .field-name-field-caption label {
  padding-bottom: 4%;
}

.form-field-name-field-image-gallery-fullscreen td .field-name-field-caption + input[value="Remove"] {
  margin-top: 7.3% !important;
  background-color: #375b7b;
  color: #fff;
  text-decoration: none;
}

.form-field-name-field-image-gallery-fullscreen td .field-name-field-caption + input[value="Remove"]:hover {
  background-color: #2176a7;
}

.form-field-name-field-recipients-email .grippie {
  display: none;
}

.form-field-name-field-recipients-email textarea {
  height: 37px !important;
}
