/**
Email page specific settings
*/
div#edit-field-email-presentations-0-value-wrapper label {
    display: none;
}
div#edit-field-email-documents-0-value-wrapper label {
    display: none;
}
div#edit-field-email-presentations-0-value-wrapper button {
    float: left;
}
.email-seld-form button.selector {
  display: block !important;
}

.email-send-form #entity_selector_close {
  display: none !important;
}
div#popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.8;
  z-index: 9999;
}

div#preview_popup {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -30%;
  width: 60%;
  z-index: 9999;
  height: 95.4%;
}

#preview_popup iframe {
  width: 100%;
  height: 90%;
  z-index: 9999;
  box-shadow: 0px 0px 40px #999999;
  -webkit-box-shadow: 0px 0px 40px #999999;
  -moz-box-shadow: 0px 0px 40px #999999;
  background-color: #e9e9e9;
}

div#popup_close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  cursor: pointer;
  border: 1px solid #e9e9e9;
}

#popup_close .fa {
  color: #000;
  height: 40px;
  line-height: 40px;
}