.scale .inner {
  transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
}

.scale65 .middle {
  transform: scale(0.65);
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -o-transform: scale(0.65);
  -ms-transform: scale(0.65);
}

.scale70 .middle {
  transform: scale(0.70);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
  -o-transform: scale(0.70);
  -ms-transform: scale(0.70);
}


.scale75 .middle {
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
}


.scale80 .middle {
  transform: scale(0.80);
  -webkit-transform: scale(0.80);
  -moz-transform: scale(0.80);
  -o-transform: scale(0.80);
  -ms-transform: scale(0.80);
}


.scale85 .middle {
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -o-transform: scale(0.85);
  -ms-transform: scale(0.85);
}

.scale90 .middle {
  transform: scale(0.90);
  -webkit-transform: scale(0.90);
  -moz-transform: scale(0.90);
  -o-transform: scale(0.90);
  -ms-transform: scale(0.90);
}

.outer-container {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.75);
  top: 0;
  left: 0;
  z-index: 9990;
  opacity: 0;
}

.outer-container .middle {
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
}

.outer-container .inner {
  width: 1024px;
  height: 768px;
  position: relative;
  background-color: #fff;
}

.slide-preview,
.preview-item {
  width: 1024px;
  height: 768px;
  border: none;
  z-index: 9991;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.preview-item {
  text-align: center;
}

.preview-item img {
  width: 100%;
  height: auto;
}

.outer-container.widescreen .middle,
.outer-container.widescreen .inner,
.outer-container.widescreen .slide-preview,
.outer-container.widescreen .preview-item {
  width: 1366px;
}

.outer-container.widescreen .middle {
  margin-left: -683px;
}

.outer-container.widescreen img {
  max-width: 1366px;
  max-height: 768px;
  width: auto;
  height: auto;
}

.outer-container.widescreen .expand {
  display: none;
}

.outer-container.widescreen .compress {
  display: block;
}

.popup-close,
.toggle-widescreen {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.toggle-widescreen {
  top: 70px;
}

.compress {
  display: none;
}

.popup-close a,
.toggle-widescreen a,
.owl-nav-buttons {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.popup-close i,
.toggle-widescreen i,
.owl-nav-buttons i {
  color: #666;
  line-height: 30px;
  font-size: 16px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.popup-close:hover i,
.toggle-widescreen:hover i,
.owl-nav-buttons:hover i {
  color: #333;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.owl-nav-buttons {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.owl-nav-buttons:active {
  background-color: #fff !important;
}

#prev-slide {
  left: -50px;
}

#next-slide {
  right: -50px;
}

#next-slide i {
  margin-left: 3px;
}

#prev-slide i {
  margin-right: 3px;
}

.loading-icon {
  width: 100%;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}

.loading-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px !important;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
}