tr.publishing {
  /*pointer-events: none;*/
}

/*
tr.publishing td {
}
.background-process-overlay {
  left: 0;
  position: absolute;
  width: 100%;
  height: 130px;
  background-color: #000;
  opacity: 0.8;
}

.background-process-info-wrapper .info {
  float: left;
  width: 16%;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 1.2em;
}

.info-overlay {
  background-color: #000;
  width: 97.6%;
  height: 126px;
  position: relative;
  opacity: 0.8;
  margin-left: 14px;
  position: absolute;
}

.info {
  position: relative;
}

.info-wrapper {
  float: left;
  width: 100%;
  background-color: #2a2a2a;
  margin: 3px;
}

.background-process-info-wrapper {
  margin-top: 1%;
}
*/

/**
 * Dev the genius
 */

.publishing td {
  background: #e9e9e9;
}

.publishing td .form-item-status select {
  pointer-events: none;
  opacity: 0.5;
}

.publishing .icon {
  background-color: transparent !important;
  border: 1px dotted #b5b5b5 !important;
  color: #999 !important;
}

.publishing .icon i {
  color: #999 !important;
}

.publishing .icon i::before {
  content: "\f00d";
}

.publishing .management {
  visibility: hidden;
}

.background-process-overlay {
  position: absolute;
  left: 0;
  margin: 0 !important;
  background: #f9f9f9;
}

.background-process-info-wrapper {
  height: 100%;
}

.background-process-info-wrapper div {
  display: block;
}

.progress-wrapper {
  width: 100%;
  height: 100%;
}

.progress-action {
  width: 100%;
  display: block;
  color: #777;
  font-size: 0.75em;
  height: 50px;
  line-height: 50px;
  text-align: right;
}

.progress-action .current-value {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  color: #555;
  text-align: left;
  font-size: 1.15em;
}

.progress-action .abort-wrapper {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.progress-action .abort-wrapper .abort-button {
  margin: 0;
  background-color: #2176a7;
  width: auto;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
  transition: all .35s ease-in-out;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding: 0 20px;
  color: #fff;
}

.progress-action .abort-wrapper .abort-button i {
  color: inherit;
}

.progress-action .abort-wrapper .abort-button:hover {
  background-color: #2176a7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  color: #fff;
}

em::before {
  content: '"';
}

em::after {
  content: '"';
}

.placeholder {
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 2px;
}

.progress-bar .done {
  width: 0%;
  height: 5px;
  display: block;
  float: left;
  background: linear-gradient(45deg, #3ce512, #33c80d, #34b414, #258f0a);
  transition: all .5s ease-in-out;
}

.progress-bar .done.error {
  background: linear-gradient(45deg, #ff0500, #d6100d, #c20d0a, #a60a07);
}

.progress-bar .remaining {
  width: 100%;
  background: #e1e1e1;
  height: 5px;
  display: block;
  float: right;
  transition: all .5s ease-in-out;
}

.info-wrapper {
  height: 50px;
  width: 100%;
  font-size: 0.9em;
  display: block;
  margin-top: 10px;
}
