@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700italic,700,400italic);

.ui-widget-content,
.ui-widget-content,
.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker table,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-default {
  background: #f2f2f2 url('none');
  padding: 0px;
  border-top-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.ui-datepicker-inline {
  padding: 0;
}

.ui-widget-header {
  border: none;
}

.ui-datepicker .ui-datepicker-header {
  padding: 1.2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 23px;
}

.ui-icon,
.ui-datepicker-month,
.ui-datepicker-year {
  color: #205b7d;
}

a.ui-state-default,
.ui-datepicker th {
  color: #205b7d !important;
  border: none !important;
  text-align: center !important;
}

.ui-datepicker {
  width: 17em;
  font-family: "Noto Sans", san-serif !important;
  text-transform: uppercase;
}

.ui-datepicker td {
  padding: 0.2em;
  border: 1px solid transparent;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: #f2f2f2 !important;
  background: #205b7d;
  padding: 5px;
  border-top-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background-color: #a2a2a2;
  color: #2a2a2a !important;
  padding: 5px;
  border-top-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

div#edit-date-filter-wrapper {
  float: left;
  width: 82%;
  padding-top: 5px;
}

div#edit-date-filter-min-wrapper {
  float: left;
  width: 25.5%;
}

div#edit-date-filter-max-wrapper {
  float: left;
  width: 25.5%;
}
.view-reports-main .container-inline-date .form-item, .container-inline-date .form-item input {
  width: 100%;
}
.view-reports-main .views-exposed-form .container-inline-date .date-padding {
  width: 97%;
}

input#edit-date-filter-min-datepicker-popup-0 {
  width: 100%;
  margin-right: 0px;
}

input#edit-date-filter-max-datepicker-popup-0 {
    width: 100%;
    margin-right: 0;
}

.view-reports-main div#edit-date-filter-wrapper {
  float: left;
  width: 79.5% !important;
  padding-top: 5px;
}

.view-reports-main .views-exposed-widget.views-submit-button {
  float: left !important;
  margin-top: 15px !important;
}

.report-filter input, .report-filter select, 
.view-reports-main .views-exposed-widget {
  width: 20% !important;
  margin-top: 10px;
}

.report-filter input, .report-filter select {
  margin-right: 10px;
}

.report-filter input, .report-filter select, 
.view-reports-main .report-filter-input {
  height: 40px;
}

.view-reports-main .form-table__row.is-active,
.view-reports-main .form-table__row--is-active,
.view-reports-main .form-table tbody tr.is-active,
.view-reports-main form table tbody tr.is-active,
.view-reports-main td.active {
  background-color: #f5f5f5 !important;
}
